.arriereplan1{
   
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: COVER;
      background-size: 100% auto;
        background-blend-mode: overlay;
      }
      